*.csproj
*.sln
Library/
.vscode/
ProjectSettings/
Logs/
UserSettings/
Temp/
Buildings/
*.zip
*.7z
*.rar
.git_bak
.vs
/build
AGENT_PROJECT_OVERVIEW.md
Assets/Scenes.7z.meta
Assets/Scenes.7z.meta
/Assets/Script/__pycache__
Assets/Script/IPCTest.py
Assets/Script/__pycache__/IPCTest.cpython-314.pyc
Assets/Script/IPCTest.py
